@charset "UTF-8";

:root{
    --color-primary: #8c0e03;
    --color-secondary:#D92B04;
    --color-primary-light: #D97904;
    --color-secondary-light: #D9D9D9;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}

body{
    font-family: 'Poppins', sans-serif;
}

 

.container{
    width: 1170px;
    margin: 0 auto;
   
}
/********
HOME
*********/
.home{
    position: relative;
    background-size: cover;
    background-image:url(../images/home-low.png);
    height: 100vh;
    background-attachment: fixed;
   

}

.home .header{
    padding: 30px 0;
}

.home .header .nav{
    display: flex;
    justify-content: center;  
}
.home .header .nav ul{
    display: flex;
    list-style: none;
    
}
.home .header .nav ul li{
    display: flex;
    justify-content: center;  
    align-items: center; 
    width: 150px;
}
.home .header .nav ul li .logo{
    width: 100px;
    border: 3px solid var(--color-primary);
    border-radius: 15px 0;
    padding: 10px;
    }
.home .header .nav ul li a{
    color: white;
    background: var(--color-primary);
    border-radius: 15px 0;
    width: 90%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold; 
    padding: 10px;  
}
.home .header .nav ul li a:hover{
  border-bottom: 2px solid var(--color-primary-light);
  color: var(--color-primary-light);

}
.home .header .nav .logo {
    margin: 0 50px;
  
}


/************
*HOME -BANNER
*************/
.home .banner{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 270px;
    width: 778px;
    margin-left: -385px;
    margin-top: -75px;
    color: var(--color-primary);
    text-align: center;
   

    
}

.home .banner .slogan{
    text-shadow: var(--color-primary-light) 0.02em 0.02em ;
}
.home .banner1{
    font-size: 12px;
}

.home .banner span{
    display: block;
}
.home .banner .slogan1{
    color: var(--color-primary);
    background:var(--color-primary-light) ;
    font-weight: bold;
    padding: 10px;
    border-radius: 15px 0;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 30px;
    font-size: 16px;
}
.home .banner h1{
    font-size: 120px;
     
}
.home .banner .slogan2{
margin-bottom: 30px;
background: var(--color-primary-light);
border-radius: 0 15px;
font-size: 16px;
font-weight: bold;
letter-spacing: 3px;
}

/*******
*ABOUT
********/

.about{
    background-color: var(--color-primary);
}
.about .container{
    display: flex;
}
.about .timing{
    width: 33%;
    padding: 20px;
    background-image: url(../images/marmitas.jpg);
    position: relative;
    top: -50px;
    
}
.about .timing .overley{
   background: rgba(0, 0, 0,0.8);
   text-align: center;
   padding: 40px 20px;
   
   
}
.about .timing .icone1{
    width: 50px;
}
.about .timing .text{
    margin: 10px 0;
}
.about .timing .text:after{
    content: '•';
    color: white;
    display: block;
    font-size: 25px;
    margin-top: 10px;
}
.about .timing .text:last-of-type:after {
    content: '|';
  }
.horario{
color: var(--color-secondary-light);
text-transform: uppercase;
border-bottom: 1px solid var(--color-primary-light);
width: fit-content;
margin:0 auto 30px auto;
font-size: 30px;
}
.about .timing .text h4 {
    margin-top: 20px;
    color: var(--color-secondary-light);
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 2px;
}

.about .timing span{
    color: white;
    font-size: 15px;
    font-weight: 400;
    display: block;
   
}

.about .experience{
    width: 66%;
    color: white;
    margin-left: 7%;
    margin-top: 100px;
   

}
.about .experience h2{
    font-weight: 400;
    font-size: 40px;
}

.about .experience h2:after{
display:block;
content: '';
width: 100px;
height: 3px;
background-color:#a38f78;
margin: 20px 0;
}

.about .experience .text{
    display: flex;
    justify-content: space-between;
    
}
.about .experience .text p{
    margin-bottom: 20px;
    font-size: 17px;
    font-weight: 100;
}

/*******
*Services
********/

.services{
   padding: 100px 0;
    text-align: center;
    background-color: var(--color-secondary-light);
}
.services h2{
color: var(--color-primary);
font-weight: 400;
font-size: 50px;
margin-bottom: 10px;


}
.services .boxes {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.services .box{
    border: 3px solid var(--color-primary) ;
    padding: 50px 40px;
    margin: 30px;
}
.services .box h4{
    color: var(--color-secondary);
    margin-top: 30px;
}
.services .box p{
    margin-top: 20px;
    font-size: 14px;
    line-height: 25px;

}


/***********
*Appointement
************/

.appointment{
    padding: 100px 0;
    background-color: var(--color-primary);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 500px;
}
.appointment h2{
    color: var(--color-secondary-light);
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 10px;
    text-align: center;
}
.appointment img{
    margin: 0 auto;
    display: block;
}

.appointment form{
    margin-top: 80px;
}
.appointment .personal-data{
    display: flex;
    justify-content: space-between;
}

.appointment .input-wrapper{
    width: 100%;
    margin-right: 50px;

}
.appointment .input-wrapper:last-of-type{
    margin-right: 0;
}
.appointment .personal-data label {
display: block;
color: var(--color-secondary-light);
font-size: 14px;
margin-bottom: 2px;

}
.mensagem{
display: block;
color: var(--color-secondary-light);
font-size: 14px;
margin-bottom: 2px
}

.appointment .personal-data input,
.appointment .personal-data select,
.appointment textarea{
    padding: 10px;
    outline: none;
    border: none;
    width: 100%;
    border-radius: 3px;
}
.appointment textarea{
   height: 100px; 
}
.appointment button{
    background-color: var(--color-secondary);
    color: var(--color-secondary-light);
    padding: 15px 40px;
    border: none;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: bold;

}

.appointment .toast{
    display: inline-block;
    position: absolute;
    left: -100%;
    bottom: 30px;
    background-color: var(--color-primary-light);
    border: 2px solid var(--color-primary);
    border-radius: 6px;
    padding: 15px;
    color: var(--color-secondary);
    transition: all 600ms ease;

}
/***********
*GALLERY
************/

.gallery{
    padding: 100px 0;
    background-color: var(--color-primary-light);
    
   
}
.gallery h2{
    color: var(--color-primary);
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 10px;
    text-align: center;
}
.gallery img{
    margin: 0 auto;
    display: block;
   
}
.gallery .gallery-wrapper{
    margin: 10px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex-wrap: wrap;
    width: 800px;
}

.gallery .gallery-wrapper div{
    border: 10px solid var(--color-secondary);
    margin: 6px;
    width: 33%;
}
.gallery .gallery-wrapper div img{
 width: 100%;   
}

/**********
*LOCATION
***********/

.location{
    background-image: url(../images/home=lowCarb.jpeg);
    background-size: cover;
    padding: 100px 0;
}
.location .head{
    display: flex;
    justify-content: space-between;
    background-color: var(--color-primary);
    padding: 40px;
    width: 100%;
}
.location .head .info{
    display: flex;
    align-items: center;
}
.location .head .info .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    padding: 10px;
    width: 50px;
    height: 50px;
    border: 1px solid var(--color-primary-light);
    border-radius: 100%;
}
.location .head .info .text span{
    display: block;
    font-size: 13px;   
}
.location .head .info .text span:first-child{
    color: silver;
}
.location .head .info .text span:last-child{
    color: white;
}
.location .map{
    width: 100%;

}
.location .map iframe{
    width: 100%;
}
.footer{
    background-color:var(--color-primary);
    color: white;
    padding: 40px;
    margin-top: 30px;
    text-align: center;
    font-size: 12px;
}

