.home__banner {
  position: relative;
  color: var(--color-primary);
  text-align: center;
  
}

.home__sloganCenter {
  text-shadow: var(--color-primary-light) 0.02em 0.02em;
  font-size: 120px;
}

.home__sloganTop {
  color: var(--color-primary);
  background: var(--color-primary-light);
  display: block;
  font-weight: bold;
  padding: 10px;
  border-radius: 15px 0;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 16px;
}


.home__sloganBottom {
  background: var(--color-primary-light);
  border-radius: 0 15px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 3px;
}

@media (min-width: 481px) and (max-width: 767px) {
  .home__banner {
    position: relative;
    color: var(--color-primary);
    text-align: center;
    
  }
  
  .home__sloganCenter {
    text-shadow: var(--color-primary-light) 0.02em 0.02em;
    font-size: 120px;
  }
  
  .home__sloganTop {
    color: var(--color-primary);
    background: var(--color-primary-light);
    display: block;
    font-weight: bold;
    padding: 10px;
    border-radius: 15px 0;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 16px;
  }
  
  
  .home__sloganBottom {
    background: var(--color-primary-light);
    border-radius: 0 15px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3px;
  }
  
}

@media (max-width: 480px) {
  .home__banner {
    position: relative;
    color: var(--color-primary);
    text-align: center;
    
  }
  
  .home__sloganCenter {
    text-shadow: var(--color-primary-light) 0.02em 0.02em;
    font-size: 120px;
  }
  
  .home__sloganTop {
    color: var(--color-primary);
    background: var(--color-primary-light);
    display: block;
    font-weight: bold;
    padding: 10px;
    border-radius: 15px 0;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 16px;
  }
  
  
  .home__sloganBottom {
    background: var(--color-primary-light);
    border-radius: 0 15px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3px;
  }
  
}
