.home__banner {
  color: var(--color-primary);
  text-align: center;
  
  
}

.home__slogan-center {
  text-shadow: var(--color-primary-light) 0.02em 0.02em;
  font-size: 120px;
  margin-block-end: 20px;
  margin-block-start:20px ;
}

.home__slogan-top {
  color: var(--color-primary);
  background: var(--color-primary-light);
  display: block;
  font-weight: bold;
  padding: 10px;
  border-radius: 15px 0;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 16px;
  width: 100%;
}


.home__slogan-bottom {
  
  background: var(--color-primary-light);
  border-radius: 0 15px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 3px;
  padding: 8px;
  
}

@media (min-width: 481px) and (max-width: 767px) {
  .home__banner {
    color: var(--color-primary);
    text-align: center;
    
  }
  
  .home__slogan-center {
    text-shadow: var(--color-primary-light) 0.02em 0.02em;
    margin-block-end: 20px;
    margin-block-start:20px ;
  }
  
  .home__slogan-top {
    color: var(--color-primary);
    background: var(--color-primary-light);
    display: block;
    font-weight: bold;
    padding: 8px;
    border-radius: 15px 0;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    width: 100%;
  }
  
  
  .home__slogan-bottom {
    background: var(--color-primary-light);
    border-radius: 0 15px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
    padding: 5px;
  }
  
}
  

@media (max-width: 480px) {
  .home__banner {
    color: var(--color-primary);
    text-align: center;
    
  }
  
  .home__slogan-center {
    text-shadow: var(--color-primary-light) 0.02em 0.02em;
    margin-block-end: 20px;
    margin-block-start:20px ;
  }
  
  .home__slogan-top {
    color: var(--color-primary);
    background: var(--color-primary-light);
    display: block;
    font-weight: bold;
    padding: 5px;
    border-radius: 15px 0;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 12px;
    width: 100%;
  }
  
  
  .home__slogan-bottom {
    background: var(--color-primary-light);
    border-radius: 0 15px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 3px;
    padding: 5px;
  }
  
}
  
