/*@media (min-width: 481px) and (max-width: 767px) {
  .home {
    position: relative;
    background-size: cover;
    background-image: url(../images/home-low.png);
    height: 100vh;
    background-attachment: fixed;
  }

  .home .headerHome {
    padding: 30px 0;
  }

  .home .headerHome .navHome {
    display: block;
    justify-content: center;
  }

  .home .headerHome .navHome ul {
    display: flex;
    list-style: none;
    width: 100%;
  }

  .home .headerHome .navHome ul li {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    max-width: 200px;
  }
  .home .headerHome .navHome {
    display: block;
    justify-content: center;
  }

  .home .headerHome .navHome ul li .logo {
    width: 50px;
    border: 3px solid var(--color-primary);
    border-radius: 15px 0;
    padding: 5px;
  }

  .home .headerHome .navHome .logo {
    margin: 0 20px;
  }

  .home .headerHome .navHome ul li a {
    color: white;
    background: var(--color-primary);
    border-radius: 15px 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
    padding: 5px;
  }

  .home .banner {
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--color-primary);
    text-align: center;
  }

  .home .banner .slogan {
    text-shadow: var(--color-primary-light) 0.02em 0.02em;
    font-size: 100px;
  }

  .home .banner span {
    display: block;
  }

  .home .banner .slogan1 {
    color: var(--color-primary);
    background: var(--color-primary-light);
    font-weight: bold;
    padding: 10px;
    width: 100%;
    border-radius: 15px 0;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 30px;
    font-size: 16px;
  }

  .home .banner .slogan2 {
    margin-bottom: 30px;
    background: var(--color-primary-light);
    border-radius: 0 15px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3px;
  }

  .containerAbout {
    flex-direction: column;
    width: 100%;
  }

  .about .timing {
    width: 100%;
    height: 30%;
    padding: 20px;
    background-image: url(../images/marmitas.jpg);
    position: relative;
    margin-top: 50px;
    grid-area: aside;
  }

  .experience .text {
    flex-wrap: wrap;
  }

  .services .boxes {
    flex-wrap: wrap;
    display: block;
  }

  .services .box {
    border: 3px solid var(--color-primary);
    padding: 30px 10px;
    margin: 15px;
  }

  .containerCard {
    display: block;
    align-items: center;
  }

  .textItem2 {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .home {
    position: relative;
    background-size: cover;
    background-image: url(../images/home-low.png);
    height: 100vh;
    background-attachment: fixed;
  }

  .home .headerHome {
    padding: 30px 0;
  }
  .home .headerHome .navHome ul {
    display: flex;
    list-style: none;
    width: 100%;
  }

  .home .headerHome .navHome ul li {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    max-width: 100px;
  }
  .home .headerHome .navHome {
    display: block;
    justify-content: center;
  }

  .home .headerHome .navHome ul li .logo {
    border: 3px solid var(--color-primary);
    border-radius: 15px 0;
    padding: 5px;
    width: 40px;
    height: 30px;
  }

  .home .headerHome .navHome .logo {
    margin: 0 20px;
  }

  .home .headerHome .navHome ul li a {
    color: white;
    background: var(--color-primary);
    border-radius: 15px 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 8px;
    font-weight: bold;
    padding: 5px;
  }

  .home .banner {
    position: absolute;
    top: 50%;
    color: var(--color-primary);
    text-align: center;
    flex: 1;
  }

  .home .banner .slogan {
    text-shadow: var(--color-primary-light) 0.02em 0.02em;
    font-size: 80px;
  }

  .home .banner span {
    display: relative;
    min-width: 100px;
    flex: 1;
  }

  .home .banner .slogan1 {
    color: var(--color-primary);
    background: var(--color-primary-light);
    width: 100px;
    font-weight: bold;
    padding: 10px;
    border-radius: 15px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 30px;
    font-size: 14px;
  }

  .home .banner .slogan2 {
    margin-bottom: 30px;
    background: var(--color-primary-light);
    border-radius: 0 15px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3px;
  }

  .containerAbout {
    flex-direction: column;
    width: 100%;
  }

  .about .timing {
    width: 100%;
    height: 30%;
    padding: 20px;
    background-image: url(../images/marmitas.jpg);
    position: relative;
    margin-top: 50px;
    grid-area: aside;
  }

  .experience .text {
    flex-wrap: wrap;
  }

  .services .boxes {
    flex-wrap: wrap;
    display: block;
  }

  .services .box {
    border: 3px solid var(--color-primary);
    padding: 30px 10px;
    margin: 15px;
  }

  .containerCard {
    display: block;
    align-items: center;
  }

  .textItem2 {
    font-size: 10px;
  }
  .textItem {
    font-size: 14px;
  }

  .appointment .personal-data {
    display: block;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .appointment .personal-data .input-wrapper {
    width: 90%;
  }

  .appointment button {
    background-color: var(--color-secondary-light);
    color: var(--color-primary);
    padding: 10px 15px;
    border: none;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
  }
}
*/